/.phpunit.cache
/node_modules
/test-results
/playwright-report
/public/build
/public/hot
/public/storage
/public/uploads/*
!/public/uploads/.gitignore
/storage/*.key
/storage/app/kaevcms/installed-version.json
/storage/app/kaevcms/installed-version.json.tmp.*
/storage/app/kaevcms/installed-version.json.bak.*
/vendor
.env
.env.backup
.phpunit.result.cache
/database/database.sqlite
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
