<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true"><testsuites><testsuite name="Feature"><directory>tests/Feature</directory></testsuite></testsuites><php><env name="APP_ENV" value="testing"/><env name="APP_LOCALE" value="ru"/><env name="APP_FALLBACK_LOCALE" value="en"/><env name="APP_MAINTENANCE_DRIVER" value="file"/><env name="HASH_DRIVER" value="argon2id"/><env name="ARGON_MEMORY" value="1024"/><env name="ARGON_THREADS" value="1"/><env name="ARGON_TIME" value="1"/><env name="CACHE_STORE" value="array"/><env name="DB_CONNECTION" value="sqlite"/><env name="DB_DATABASE" value=":memory:"/><env name="MAIL_MAILER" value="array"/><env name="QUEUE_CONNECTION" value="sync"/><env name="SESSION_DRIVER" value="array"/><env name="GAME_ADAPTER" value="mock"/></php></phpunit>
